.feedback {
  padding-block: clamp(1.25rem, 0.82rem + 2.15vw, 2.5rem);
}
.feedback__container {
}
.feedback__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  text-align: center;
}
.feedback__top:not(:last-child) {
  margin-bottom: 1.875rem;
}
.feedback__title {
  font-size: clamp(1.25rem, 0.906rem + 1.72vw, 2.25rem);
}
.feedback__descr {
  font-size: clamp(0.875rem, 0.789rem + 0.43vw, 1.125rem);
}
.feedback__body {
  display: flex;
  justify-content: center;
}
.feedback__form {
  max-inline-size: 37.5rem;
}
