.form-feedback {
  background-image: linear-gradient(135deg, #3f4665, #272c3f);
  /* background-image: linear-gradient(66deg, #e38010, #1535bf); */
  /* background-image: linear-gradient(180deg, #ffc472, #08a693, #3a4d5f, #272c3f); */

  padding: 1.25rem;
  border-radius: 0.625rem;
  color: var(--light-color);
}
.form-feedback__body {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.form-feedback__items {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
}
.form-feedback__item {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}

.form-feedback__item .error-block {
  font-size: 0.75rem;
  color: rgb(255, 179, 179);
}

.form-feedback__label {
  font-size: 0.875rem;
}
.form-feedback__input {
  border: none;
  outline: none;
  block-size: 3rem;
  padding-inline: 0.9375rem;
  border-radius: 0.625rem;
  font-size: 1rem;
  font-weight: 500;
  border: 0.125rem solid transparent;
  transition: border-color var(--trans-elem);
}

.form-feedback__input._input-error {
  border-color: rgb(255, 61, 61);
}
.form-feedback__input::placeholder {
  opacity: 1;
  color: #818181;
  transition: opacity var(--trans-elem);
}

.form-feedback__input:focus-visible {
  border-color: #ffb52b;
}

.form-feedback__input:focus-visible::placeholder {
  opacity: 0;
}
textarea.form-feedback__input {
  resize: vertical;
  padding-block: 0.9375rem;
  min-block-size: 9.375rem;
}
.form-feedback__options {
}
.form-feedback__checkbox {
  pointer-events: none;
}

.form-feedback__checkbox a {
  pointer-events: auto;
}

.form-feedback__warning {
  font-size: 0.875rem;
  color: var(--light-color);
}
