.options {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.options__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.options__input {
  appearance: none;
  inline-size: 1.25rem;
  block-size: 1.25rem;
  border-radius: 50%;
  background-color: var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.options__input:focus-visible {
  outline: 0.125rem solid #ffb52b;
  outline-offset: 0.0625rem;
}

.options__input::before {
  content: "";
  inline-size: 0.75rem;
  block-size: 0.75rem;
  border-radius: 50%;
  background-color: #ffb52b;
  scale: 0;
  transition: scale var(--trans-elem);
}
.options__input:checked::before {
  scale: 1;
}

.options__label {
  font-size: 0.875rem;
  user-select: none;
}
.form-feedback__file {
}
